
   <div id="about"class="container-index">
        <div class="jumbotron">
                <h2 class="title"></h2>
                <p class="description">
                   I'm 21 years old, Brazilian from Divinópolis MG, Developer with 1+ years of professional experience.<br> I'm currently working with webdeveloper at <a class="link" target="_blank" href="http://onlinesites.com.br/">Onlinesites Marketing Digital</a>                   and I'm CO-Organizer at
                   <a class="link" target="_blank" href="https://gdgdivi.github.io/">Google Developers Group </a>in Divinópolis.<br>
                   I'm about to graduate in Computer Enginer at UEMG Divinópolis. I always try to help communities, work with open-source and leave the comfort zone
        </div>
   </div>   
